// colors

// $nocturnMode: ;
$text: #c7d1f1;
$text-resalt: #64ffda;
$homepage-dark:#0a192f;
$homepage-light: #122e55;

// $dayMode: ;
$text-dayMode: #000000;
$text-resalt-dayMode: #ff0000;
$homepage-light-dayMode: #fdf5f5;
$homepage-dark-dayMode: #d4d4fa;